* {
    box-sizing:border-box;
}


body{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    gap: 1vw;
    padding: 2vh 5vw;
}


.container{
    border: 2px black solid;
    border-top:0;
    height:50vh;
    padding: 2px;
    padding-top: 1px;
}

#liter-3 {
    display:grid;
    grid-template-rows: repeat(3,1fr);
}

#liter-5 {
    display:grid;
    grid-template-rows: repeat(5,1fr);
}

#liter-8 {
    display:grid;
    grid-template-rows: repeat(8,1fr);
}

#parent-liter-3 {
    grid-column: 1 / span 3;
    
}

#parent-liter-5 {
    grid-column: 4 / span 5;
}

#parent-liter-8 {
    grid-column: 9 / span 8;
}

#parent-liter-3, #parent-liter-5, #parent-liter-8 {
    padding: 15px;
    background: lightblue;
    border-radius: 20px;
}

