* {
    box-sizing:border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: auto auto;
    gap: 1vw;
    padding: 2vh 5vw;
}


.container{
    border: 2px black solid;
    border-top:0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height:50vh;
    padding: 2px;
    padding-top: 1px;
    position: relative;
    backface-visibility: hidden;
    overflow: hidden;
}

.ind-animation {
    color: transparent !important;
    background:none !important;
}

.ind {
    font-family: 'Roboto';
    font-size:40px;
    font-weight: bold;
    color:#224c8f;
    position: relative;
    top: 50%;
    left: 50%;
    right: 50%;
    z-index: 2;
    transition: 0.5s;
}



.fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    transition: ease-in-out 1.5s;
}

.waveShape {
    overflow: hidden;
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    fill: #04ACFF;
}

@keyframes waveAction {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

#parent-liter-3 {
    grid-column: 1 / span 3;
    
}

#parent-liter-5 {
    grid-column: 4 / span 5;
}

#parent-liter-8 {
    grid-column: 9 / span 8;
}


@media screen and (max-width: 992px) {
    .container {
        height: 40vh;
        padding: 1px;
        padding-top: 1px;
        border: 1px black solid;
        border-top:0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    body {
        gap: 0.5vw;
        padding: 0.2vh 0.2vw;
    }
    #parent-liter-3 {
        grid-column: 1 / span 6;
        
    }
    
    #parent-liter-5 {
        grid-column: 7 / span 10;
    }
    
    #parent-liter-8 {
        grid-column: 1 / span 16;
        grid-row: 2/3;
    }
  }